@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600;800;900&display=swap');

/* REGOLE GENERALI*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

p, li, select, a {
    font-weight: 600;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
}

.container-flex {
    display: flex;
}

.center {
    width: 80%;
    margin: 0 auto;
}

/* Background colors */
.b-white {
    background-color: white;
}

.b-grey {
    background-color: rgb(246, 246, 246);
}
/* Background colors */

/* Margini */
.margin-20{
    margin: 20px;
}

.margin-updo-20{
    margin: 20px 0;
}
/* Margini */

.c-white {
    color: white;
}

/* Buttons */
.button-white {
    background-color: white;
    color: black;
}

.button-purple {
    background-color: rgb(142, 161, 225);
    color: white;
}

.bord-r-50 {
    border-radius: 50px;
}

.button-scarica {
    display: inline-block;
    width: 180px; height: 40px;
    text-align: center;
    padding: 8px 0;
}
/* Buttons */