* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px dotted black;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
}

.container-flex {
    display: flex;
}

.center {
    width: 80%;
    margin: 0 auto;
}

.margin-20{
    margin: 20px;
}

.c-white {
    color: white;
}

.button-white {
    background-color: white;
    color: black;
}

.bord-r-50 {
    border-radius: 50px;
}

.button-scarica {
    display: inline-block;
    width: 160px; height: 40px;
    text-align: center;
    padding: 5px 0;
}