/* HEADER */
/* Background */
header {
    background: url(../img/jumbo.png);
    background-size: cover;
}

/* HEADER - Parte Superiore */
header nav {
    justify-content: space-between;
}

header nav div {
    align-items: center;
}

header nav div ul {
    justify-content: space-between;
}

header nav a#accedi {
    width: 70px; height: 30px;
    text-align: center;
    padding: 5px 0;
}

/* HEADER -  Parte Inferiore */
header section #presentazione {
    text-align: center;
    margin: 80px 200px;
}

header section div h1 {
    margin-bottom: 30px;
}

header section div#buttons-header {
    justify-content: center;
}

header section div a#button-apri {
    display: inline-block;
    background-color: rgb(35, 39, 42);
    color: white;
    border-radius: 50px;
    width: 220px; height: 40px;
    text-align: center;
    padding: 8px 0 2px 0;
}

/* MAIN */
/* Sections */
main section {
    padding: 50px 0;
}

main section:nth-child(even) {
    background: rgb(246, 246, 246);
}

/* SECTION - Immagine e Testo */
main section div img.immagine {
    width: 70%;
}

main section div.testo {
    width: 30%;
    color: rgb(33, 37, 40);
}

main section div h3 {
    margin: 40px 0;
}


/* Section 4 */
main section div#section4 {
    flex-direction: column;
}

main section div img.immagine-sect4 {
    width: 100%;
    margin: 0 auto;
}

main section div.text-c {
    width: 100%;
    text-align: center;
}

main section div.text-up {
    padding: 0 100px;
}

main section h4#text-down {
    margin: auto;
}

main section #section4 a {
    background-color: rgb(142, 161, 225);
    color: white;
    margin: 30px auto;
}

/* FOOTER */
/* Background */
footer {
    background-color: gainsboro;
}

/* Misure Links */
#socials {
    width: calc(100% / 3);
    height: 400px;
}

.footer-link {
    width: calc(100% / 6);
    height: 400px;
}

/* Logo e Registrati */
footer section {
    justify-content: space-between;
}